# Python
__pycache__/
*.py[cod]

# Environments
.env
.venv/
venv/

# Node
node_modules/

# Build outputs
dist/
**/dist/
app/frontend/dist/

# Large binaries
app/engine/sf.exe
*.exe

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Logs
logs/
*.log
